body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 20px;
    text-align: center;
}

.portfolio-item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
}

.portfolio-item h2 {
    margin-top: 0;
}

.portfolio-item p {
    line-height: 1.6;
}

.portfolio-item a {
    color: blue;
    text-decoration: none;
}

.resume {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.resume h1, .resume h2 {
    margin-top: 0;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style: square;
    padding-left: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
